body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo1{
    text-align: center;
    background-color: blue;
    color: white;
}
.titulo2{
    text-align: center;
    background-color: red;
    color: white;
}
.titulo3{
    text-align: center;
}
hr{
    border-width: 20px;
    border-color: darkred;
}

a{
    color: rgb(24, 13, 177);
    text-decoration-line: none;
}

a:hover{
    color: rgb(255, 8, 0);
    text-decoration-line: none;
}
